{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@controllers": "./src/controllers",
          "@middlewares": "./src/middlewares",
          "@models": "./src/models",
          "@routes": "./src/routes",
          "@utils": "./src/utils"
        },
        "extensions": [".js", ".json"]
      }
    ],
    [
      "babel-plugin-add-import-extension",
      {
        "extension": "js"
      }
    ]
  ]
}
